In [1]:
# import the dependencies
import pandas as pd
import gmaps
import requests

# import the API Key
from config import g_key

In [2]:
# store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Steamboat Springs,US,2021-27-27 09:29:42,40.4850,-106.8317,67.59,54,1,0.00
1,1,Aracaju,BR,2021-27-27 09:26:36,-10.9111,-37.0717,71.55,94,90,1.14
2,2,Punta Arenas,CL,2021-27-27 09:28:36,-53.1500,-70.9167,42.91,81,75,11.50
3,3,Lakatoro,VU,2021-27-27 09:29:43,-16.0999,167.4164,76.89,82,100,17.18
4,4,New Norfolk,AU,2021-27-27 09:29:43,-42.7826,147.0587,54.91,60,100,4.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# configure gmaps to use your google API key
gmaps.configure(api_key=g_key)

In [7]:
# get the maximum temperature
max_temp = city_data_df['Max Temp']
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

In [11]:
# heatmap of temperature
# get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

# get the maximum temperature
max_temp = city_data_df['Max Temp']

# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating = False, max_intensity=300, point_radius=4)

# add the heatmap layer
fig.add_layer(heat_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# heatmap of percent humidity
# get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

# get the maximum temperature
humidity = city_data_df['Humidity']

# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(humid, 0) for humid in humidity], dissipating = False, max_intensity=300, point_radius=4)

# add the heatmap layer
fig.add_layer(heat_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# heatmap of Cloudiness
# get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

# get the maximum temperature
clouds = city_data_df['Cloudiness']

# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating = False, max_intensity=300, point_radius=4)

# add the heatmap layer
fig.add_layer(heat_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# heatmap of wind speed
# get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

# get the maximum temperature
windy = city_data_df['Wind Speed']

# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=windy, dissipating = False, max_intensity=300, point_radius=4)

# add the heatmap layer
fig.add_layer(heat_layer)

# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Lakatoro,VU,2021-27-27 09:29:43,-16.0999,167.4164,76.89,82,100,17.18
5,5,Itarema,BR,2021-27-27 09:29:44,-2.9248,-39.9167,75.40,84,84,14.29
7,7,Nikolskoye,RU,2021-27-27 09:29:45,59.7035,30.7861,84.09,32,4,3.24
14,14,Butaritari,KI,2021-27-27 09:29:47,3.0707,172.7902,80.22,80,65,7.34
18,18,Santa Rosa,PH,2021-27-27 09:29:49,14.3122,121.1114,84.18,80,88,16.42
20,20,Atuona,PF,2021-27-27 09:29:49,-9.8000,-139.0333,78.04,68,83,22.35
26,26,Shimoda,JP,2021-27-27 09:29:51,34.6667,138.9500,77.11,84,100,5.97
30,30,Payo,ID,2021-27-27 09:29:53,-3.7508,103.6372,88.95,41,1,4.32
31,31,Kavaratti,IN,2021-27-27 09:29:53,10.5669,72.6420,82.06,79,100,19.95
37,37,Adre,TD,2021-27-27 09:29:56,13.4667,22.2000,80.44,61,99,9.95

In [19]:
preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       216
City          216
Country       215
Date          216
Lat           216
Lng           216
Max Temp      216
Humidity      216
Cloudiness    216
Wind Speed    216
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3     Lakatoro      VU     76.89 -16.0999  167.4164
5      Itarema      BR     75.40  -2.9248  -39.9167
7   Nikolskoye      RU     84.09  59.7035   30.7861
14  Butaritari      KI     80.22   3.0707  172.7902
18  Santa Rosa      PH     84.18  14.3122  121.1114
20      Atuona      PF     78.04  -9.8000 -139.0333
26     Shimoda      JP     77.11  34.6667  138.9500
30        Payo      ID     88.95  -3.7508  103.6372
31   Kavaratti      IN     82.06  10.5669   72.6420
37        Adre      TD     80.44  13.4667   22.2000

In [21]:
# set the parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

In [24]:
# iterate through the dataframe
for index, row in hotel_df.iterrows():
    # get latitude, longitude
    lat = row['Lat']
    lng = row['Lng']
    
    # add latitude, longitude to location key for the params dictionary
    params['location'] = f'{lat},{lng}'
    
    # use the search term: 'lodging' and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make a request and get the JSON data from the search
    hotels=requests.get(base_url, params=params).json()
    #grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping')

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [25]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Lakatoro,VU,76.89,-16.0999,167.4164,Lakatoro Palm Lodge
5,Itarema,BR,75.40,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
7,Nikolskoye,RU,84.09,59.7035,30.7861,Tourist House - Sablino
14,Butaritari,KI,80.22,3.0707,172.7902,Isles Sunset Lodge
18,Santa Rosa,PH,84.18,14.3122,121.1114,Erlyn’s Sta Rosa City Home

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [29]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]