## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,69.48,56,5,21.00,clear sky
1,1,Avera,US,33.1940,-82.5271,82.27,82,18,5.46,few clouds
2,2,Bredasdorp,ZA,-34.5322,20.0403,55.27,91,100,9.48,overcast clouds
3,3,Katsuura,JP,35.1333,140.3000,89.15,85,87,11.32,light rain
4,4,Busselton,AU,-33.6500,115.3333,58.05,66,100,10.36,overcast clouds

In [7]:
city_data_df.dtypes

Unnamed: 0               int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('what is the minimum temperature you are looking for?'))
max_temp = float(input('what is the maximum temperature you are looking for?'))

what is the minimum temperature you are looking for?75
what is the maximum temperature you are looking for?95

In [29]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_city_data_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
preferred_city_data_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Avera,US,33.1940,-82.5271,82.27,82,18,5.46,few clouds
3,3,Katsuura,JP,35.1333,140.3000,89.15,85,87,11.32,light rain
6,6,Zhigansk,RU,66.7697,123.3711,80.67,38,1,13.20,clear sky
11,11,Iwanai,JP,42.9744,140.5089,82.90,81,69,1.83,broken clouds
13,13,Bandrele,YT,-12.9067,45.1914,76.75,69,75,17.27,broken clouds
...,...,...,...,...,...,...,...,...,...,...
678,678,Naigarhi,IN,24.7833,81.7833,78.84,78,96,17.94,overcast clouds
687,687,Sorong,ID,-0.8833,131.2500,88.14,62,51,10.54,broken clouds
690,690,Vetrisoaia,RO,46.4300,28.2083,79.05,55,29,9.33,scattered clouds
691,691,Along,IN,28.1667,94.7667,93.15,52,17,2.24,few clouds
693,693,Nagahama,JP,35.3833,136.2667,92.98,50,90,8.03,overcast clouds

In [30]:
# 4a. Determine if there are any empty rows.
preferred_city_data_df.count()

Unnamed: 0             259
City                   259
Country                259
Lat                    259
Lng                    259
Max Temp               259
Humidity               259
Cloudiness             259
Wind Speed             259
Current Description    259
dtype: int64

In [31]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_city_data_df.dropna()

In [32]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Avera,US,82.27,few clouds,33.1940,-82.5271,
3,Katsuura,JP,89.15,light rain,35.1333,140.3000,
6,Zhigansk,RU,80.67,clear sky,66.7697,123.3711,
11,Iwanai,JP,82.90,broken clouds,42.9744,140.5089,
13,Bandrele,YT,76.75,broken clouds,-12.9067,45.1914,
28,Edd,ER,91.27,overcast clouds,13.9297,41.6925,
32,Hithadhoo,MV,81.70,light rain,-0.6000,73.0833,
35,Miyako,JP,85.28,scattered clouds,39.6367,141.9525,
37,Pasighat,IN,90.86,clear sky,28.0667,95.3333,
38,Fare,PF,77.25,clear sky,-16.7000,-151.0167,

In [33]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f'{lat},{lng}'
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found')

Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found

In [36]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [38]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [39]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [42]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))